<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">Angular CRUD Operations</h1>
    <div class="d-flex">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add Employee
      </button>
    </div>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="co1">First Name</th>
      <th scope="co1">Last Name</th>
      <th scope="co1">Email id</th>

      <th scope="co1">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>sathish</td>
      <td>Reddy</td>
      <td>sathish@gmail.com</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModaledit"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#exampleModalad"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- add employee Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
            />
            <div
              *ngIf="submitted && f['firstName'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['firstName'].errors['required']">
                First Name is required
              </div>
              <div *ngIf="f['firstName'].errors['minlength']">
                First Name must be at least 3 characters
              </div>
              <div *ngIf="f['firstName'].errors['maxlength']">
                First Name must not exceed 15 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
            />
            <div
              *ngIf="submitted && f['lastName'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['lastName'].errors['required']">
                Last Name is required
              </div>
              <div *ngIf="f['lastName'].errors['minlength']">
                Last Name must be at least 6 characters
              </div>
              <div *ngIf="f['lastName'].errors['maxlength']">
                Last Name must not exceed 15 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <div
              *ngIf="submitted && f['email'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="onReset()"
            >
              Reset
            </button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

    <!-- edit employee model -->

    <div
      class="modal fade"
      id="exampleModaledit"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Edit Employee Details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>First Name</label>
                <input
                  type="text"
                  formControlName="firstName"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
                />
                <div
                  *ngIf="submitted && f['firstName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['firstName'].errors['required']">
                    First Name is required
                  </div>
                  <div *ngIf="f['firstName'].errors['minlength']">
                    First Name must be at least 3 characters
                  </div>
                  <div *ngIf="f['firstName'].errors['maxlength']">
                    First Name must not exceed 15 characters
                  </div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Last Name</label>
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
                />
                <div
                  *ngIf="submitted && f['lastName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['lastName'].errors['required']">
                    Last Name is required
                  </div>
                  <div *ngIf="f['lastName'].errors['minlength']">
                    Last Name must be at least 6 characters
                  </div>
                  <div *ngIf="f['lastName'].errors['maxlength']">
                    Last Name must not exceed 15 characters
                  </div>
                </div>
              </div>
    
              <div class="form-group">
                <label>Email</label>
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                />
                <div
                  *ngIf="submitted && f['email'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                </div>
              </div>
    
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="onReset()"
                >
                  Reset
                </button>
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>

    <!-- Delete Modal -->
    <div
      class="modal fade"
      id="exampleModalad"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Delete Employee Details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Are you sure you want to delete?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  
